{% extends "base.html" %}
{% load static %}

{% block main %}

    <!-- we_do -->
    <div class="we_do">
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                <div class="titlepage text_align_center">
                   <h2 style="font-size: 102px; font-weight: bold; line-height: 50px; color: #FF0000;" >404</h2>
                </div>
                
             </div>
          </div>

          <br>

          <div class="row">
             <div class="col-md-12">
               <div class="text_align_center">
                  
                  <p style="margin-bottom: 80px;color: red; font-size: 20px" >You have entered the wrong link!</p>
                  
               
                
             </div>
          </div>
       </div>               
    </div>
            
    <!-- end we_do -->



{% endblock %}
