{% extends "base.html" %}
{% load static %}

{% block main %}

    <!-- about -->
    <div class="we_do">
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                <div class="titlepage text_align_center">
                   <h2>About Company</h2>
                </div>
             </div>
          </div>

            <div class="row about_c">
             <div class="col-md-12">
               <div class="text_align_center">

                   <p>Hello! I am Tehmeer Ali Paryani. I have been studying machine learning/deep learning since January 2017.  In the U.S.A., I was pursuing Associates in Sciences of Paralegal Studies from Dallas College. </p>

                   <br>

                  <p>To ace in your profession, you really have to dedicate yourself into it. This is why; I am always studying new textbooks on deep learning, natural language processing, large language models and chatbots. I have also rigorously practiced mathematics related to these subjects.</p> 

                  <br>

                  <p>This includes, Calculus, Linear Algebra, Statistics, Probability and Discrete Mathematics.</p>  

                  <br>

                  <p>This substantiate that I have sophisticated insight over the subjects of deep learning. Whenever you are hiring any engineer, you have to ensure that he/she has covered all the mathematics. Not only that, instead, he/she consistently practice various kinds of mathematics to hone his/her excellence further. </p> 

                  <br>

                  <p>To built AI agents (complete autonomous virtual workers), we use LangChain. LangChain is the most advanced AI agent frameworks. We can integrate many large language models with LangChain. This includes, OpenAI GPT, Google Gemini, Facebook Llama, DeepSeek and many more.</p>

                  <br>

                  <p>For AI enabled basic chatbots, we use RASA framework. RASA uses Google’s TensorFlow framework at the back. </p>

                  <br>

                  <p>For website, our choices are Django and Streamlit. Also, we do know Flask, Angular, Angular.js and WordPress.</p>

                  <br>

                  <p> We do concentrate on deep learning and natural language processing. It is because; deep learning is the main technology on which all other services stand on. Whenever you use large language models, ai agents or chatbots, underneath neural networks are working.</p>

                  <br>

                  <p>So, when you are with Adept AI Agents, you are sure that top class expertise are being provided to you. </p>

                </div>
             </div>
          </div>
       </div>
    </div>
    <!-- end about -->

{% endblock %}
