{% extends "base.html" %}
{% load static %}

{% block main %}

    <!-- we_do -->
    <div class="we_do">
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                <div class="titlepage text_align_center">
                   <h2>Basic AI Enabled Chatbots</h2>
                </div>
                <div class="picture text_align_center">
                  <img src="{% static "images/chatbots.png" %}" class="rounded img-fluid" alt="AI Workforce" >
                </div>
             </div>
          </div>
          <div class="row">
             <div class="col-md-12">
               <div class="markazi-text-content text_align_center">

                 <p> Many small businesses are in a dire need of using AI (Artificial Intelligence) in some form. The first way is to capture the leads and retain the visitors as prospects to their websites. The second way they can use AI is for their e-commerce and online-sale orders. We describe both below. </p>

                 <p> First, chatbots solve capturing leads problem very easily. As soon a website visitor enters the first page, chatbot prompts immediately and ask if a website’s visitor needs help. Then, chatbot takes the name and number of a prospect. Later, chatbot does take customer’s initial inquiring questions and and saves in the database. Finally, chatbot replies that someone from the business will call soon. </p>

                  <p> Second, several chatbots are deployed for e-commerce and other businesses websites. They autonomously take orders from customers and also recommend products based on their inquiries. They add orders in databases and confirm that their orders are fulfilled in timely basis. This way, they perform as workers and liaison between customers and employees working at the back. </p>

                  <p> We make our basic chatbots with RASA framework. RASA uses Google TensorFlow framework at back to train AI models. These AI models are brain for the chatbot. However, basic chatbot can perform specific task. If you are looking for complete virtual robotic employees for your business, please check our llm based AI agents page.  </p>


                  <p> Basic chatbots can serve several professional industries. </p> 

                  <p> This includes the following: </p>

                  <ul>

                         <li> Attorneys and Law Professionals </li>
                         <li> CPAs and Other Accountants </li>
                         <li> Real Estate Agents and Other Brokers </li>
                         <li> Restaurants </li>
                         <li> E-Commerce Shops </li>
                         <li> Medical Doctors </li> 
                         <li> Physical Therapists </li>
                         <li> Chiropractors </li> 
                         <li> Pharmacies </li>
                         <li> Travel agents </li>
                         <li> Dry Cleaners </li>
                         <li> Plumbers </li> 
                         <li> Electricians </li> 
                         <li> Dumpster Rentals </li>
                         <li> Power Wash Cleaners </li>
                         <li> Gutter Cleaning </li>
                         <li> Landscaping </li>

                  </ul>
                  
               </div>
                
             </div>
          </div>
       </div>               
    </div>
            
    <!-- end we_do -->



{% endblock %}
