{% extends "base.html" %}
{% load static %}

{% block main %}

    <!-- we_do -->
    <div class="we_do">
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                <div class="titlepage text_align_center">
                   <h2>Deep Learning and NLP</h2>
                </div>
                <div class="picture text_align_center">
                  <img src="{% static "images/NNs.png" %}" class="rounded img-fluid" alt="AI Workforce" >
                </div>
             </div>
          </div>

          <br>

          <div class="row">
             <div class="col-md-12">
               <div class="text_align_center">
                  <p> We have been studying machine learning and deep learning since January 2017. Our mathematical backgrounds are solid in this technology. We are extensively trained on Google Tensorflow and Facebook PyTorch. Also, we know AutoKeras. </p>

                  <br>

                  <p> Subsequently, we can train efficient neural network models for you. We can also fine-tune large language models and other previously trained models on various repositories like Tensorflow Hub. </p>

                  <br>

                  <p> Most of the time, precisely build or fine-tuned small models are much cheaper and great for small businesses needs. What you really need can be exactly achieve with small deep learning models. The best part is that you don’t have to pay for tokens and recurring fee for these models to operate exactly the way you want. </p>

                  <br>

                  <p> If your task is not too much resource intensive and require something to be done precisely in repetition, individually trained deep learning models or Tensorflow Hub deep learning models fine-tuned to your need are best. </p> 

                  <br>

                  <p> However, if you like, we can definitely fine-tune large language models for you. If you are looking for complex stateful AI agents to automate business process (complete virtual autonomous employees), please check our page for <span><a href="{% url "aiagents" %}">LLM Based AI Agents</a></span>.</p>

                  <br>

                  <p> We have enormous expertise in NLP (Natural Language Processing). This means, we consistently studying and practicing transformers. We have covered several textbooks on NLP (Natural Language Processing). </p>

                  </div>

                  <br>
                  <br>

                  <p> We know the following deep learning algorithms: </p>
                  <br>

                  <ul>

                         <li> Artificial Neural Networks </li>
                         <li> Convolutional Neural Networks (Computer Vision) </li>
                         <li> Recurrent Neural Networks </li>
                         <li> Transformers </li> 
                         <li> Reinforcement Learning Algorithms (for Robotics) </li> 

                  </ul>
                  
               
                
             </div>
          </div>
       </div>               
    </div>
            
    <!-- end we_do -->



{% endblock %}
