{% extends "base.html" %}
{% load static %}

{% block main %}

    <!-- we_do -->
    <div class="we_do">
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                <div class="titlepage text_align_center">
                   <h2>LLM Based AI Agents</h2>
                </div>
                <div class="picture text_align_center">
                  <img src="{% static "images/ai_agents.jpeg" %}" class="rounded img-fluid" alt="AI Workforce" width="700" height="512">
                </div>
             </div>
          </div>
          <div class="row">
             <div class="col-md-12">
               <div class="markazi-text-content text_align_center">
                  <p>Caramels jujubes jelly beans brownie lemon drops dessert gummies. Macaroon chocolate cake sugar plum croissant jelly beans. Jujubes cotton candy jujubes tart fruitcake muffin carrot cake chocolate cake oat cake. Biscuit pie candy canes wafer shortbread. Liquorice tootsie roll jelly-o powder chocolate apple pie. Topping muffin danish gingerbread donut cake sweet roll jelly-o.</p>
                  
                  <br>

                  <p>Caramels jujubes jelly beans brownie lemon drops dessert gummies. Macaroon chocolate cake sugar plum croissant jelly beans. Jujubes cotton candy jujubes tart fruitcake muffin carrot cake chocolate cake oat cake. Biscuit pie candy canes wafer shortbread. Liquorice tootsie roll jelly-o powder chocolate apple pie. Topping muffin danish gingerbread donut 
                  cake sweet roll jelly-o.</p>

                  <br>
                  
                  <p> Caramels jujubes jelly beans brownie lemon drops dessert gummies. Macaroon chocolate cake sugar plum croissant jelly beans. Jujubes cotton candy jujubes tart fruitcake muffin carrot cake chocolate cake oat cake. Biscuit pie candy canes wafer shortbread. Liquorice tootsie roll jelly-o powder chocolate apple pie. Topping muffin danish gingerbread donut cake sweet roll jelly-o.</p>
                  
               </div>
                
             </div>
          </div>
       </div>               
    </div>
            
    <!-- end we_do -->



{% endblock %}
