{% extends "base.html" %}
{% load static %}

{% block main %}

    <!-- we_do -->
    <div class="we_do">
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                <div class="titlepage text_align_center">
                   <h2>Websites and AI Dashboards</h2>
                </div>
                <div class="picture text_align_center">
                  <img src="{% static "images/dashboard.png" %}" class="rounded img-fluid" alt="AI Workforce" >
                </div>
             </div>
          </div>
          <div class="row">
             <div class="col-md-12">
               <div class="markazi-text-content text_align_center">
                  <p> If you have business, you know already that you must have a website to give professional impression to your customers. Website is not only for professional impression. It also allows you to scale your business enormously. You can also automate your client taking process or lead generation once you will have a business website. </p> 

                  <p> We know that sometimes it is hard for new businesses to afford to pay for the web development. This is why, we can work with you on monthly payment plan until you pay off. Our basic web development starts from $300 one time pay or make payments. </p>

                  <p> We develop basic following kind of websites: </p>

                  <ul>
                      <li> Business Websites </li>
                      <li> E-Commerce Websites </li>
                      <li> Chat Application Websites</li>
                      <li> Order Taking and/or Appointment Setting Websites <li> 
                      <li> SaaS (Software as a Service) Websites </li>
                      <li> Artificial Intelligence UI (User Interface) Websites </li>
                  </ul>


                  <p> Since we are primarily Artificial Intelligence engineers, we do use python programming frameworks to develop our website. Our best choices are Django framework and Streamlit framework. </p> 

                  <p> Since python programming is used in most AI (Artificial Intelligence) development, you can integrate different AI Agents (complete, autonomous virtual workers), Chatbots and Deep Learning Models with your Django based website. </p> 

                  <p> If you are interested in having AI Agents (complete autonomous virtual workers), please check our LLM Based AI Agents page. </p>

                  <p> If you are interested in having basic chatbot to serve your lead capturing or order taking needs, please check our Basic AI Enabled Chatbots page. </p> 

                  <p> If you are interested in just having deep learning models trained for your specific repetitive task, please check our Deep Learning page. </p>

                  
               </div>
                
             </div>
          </div>
       </div>               
    </div>
            
    <!-- end we_do -->



{% endblock %}
