{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Adept AI Agents</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static "css/style.css" %}">
      <!-- responsive-->
      <link rel="stylesheet" href="{% static "css/responsive.css" %}">
      <!-- awesome fontfamily -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- google fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap" rel="stylesheet">
      
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout inner_page">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="{% static "images/loading.gif" %}" alt="" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <div class="header">
            <div class="container-fluid">
               <div class="row d_flex">
                  <div class=" col-md-2 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="{% url "frontpage" %}"><img src="{% static "images/logo.png" %}" alt="#" /></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-8 col-sm-9">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item active">
                                 <a class="nav-link" href="{% url "frontpage" %}">Home</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{% url "about" %}">About</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{% url "we_do" %}">What we do</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{% url "portfolio" %}">Portfolio </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{% url "contact" %}">Contact Us</a>
                              </li>
                           </ul>
                        </div>
                     </nav>
                  </div>
                  <div class="col-md-2 d_none">
                     <ul class="email text_align_right">
                       <span class="user">
                       {% if request.user.is_authenticated %}
                           Hello {{ request.user.first_name|default:request.user.username }},
                           <form action="{% url "logout"  %}" method="post">
                               <button type="submit">Logout</button>
                               {% csrf_token %}
                           </form>
                       {% else %}
                            <li><a href="{% url "login" %}">Login</a></li>
                       {% endif %}
                       </span>
                        
                        
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header -->

          {% block main %}
          {% endblock %}


      <!-- footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-3">
                     <a class="logo_footer" href="{% url "frontpage" %}"><img src="{% static "images/logo_footer.png" %}" alt="#" /></a>
                  </div>
                  <div class="col-md-9">
                     
                  </div>
                  <div class="col-md-3 col-sm-6"
                  >
                     <div class="Informa helpful">
                        <h3>Useful  Link</h3>
                        <ul>
                           <li><a href="{% url "frontpage" %}">Home</a></li>
                           <li><a href="{% url "about" %}">About</a></li>
                           <li><a href="{% url "we_do" %}">What we do</a></li>
                           <li><a href="{% url "portfolio" %}">Portfolio</a></li>
                           <li><a href="{% url "contact" %}">Contact us</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                     <div class="Informa">
                        <h3>Abilities</h3>
                        <ul>
                           <li>Deep Learning & NLP
                           </li>
                           <li>Associated Mathematics
                           </li>
                           <li>Large Language Models
                           </li>
                           <li>TensorFlow and PyTorch 
                           </li>
                           <li>LangChain and RASA
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                     <div class="Informa helpful">
                        <h3>Services</h3>
                        <ul>
                           <li><a href="{% url "aiagents" %}">AI agents</a></li>
                           <li><a href="{% url "chatbots" %}">AI chatbots</a></li>
                           <li><a href="{% url "waid" %}">Websites </a></li>
                           <li><a href="{% url "dlnlp" %}">Deep learning & NLP</a></li>
                           <li>More coming!
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                     <div class="Informa conta">
                        <h3>contact Us</h3>
                        <ul>
                           <li> <a href="Javascript:void(0)"> <i class="fa fa-user-circle"></i>Tehmeer Ali Paryani
                              </a>
                           </li>
                           <li> <a href="Javascript:void(0)"><i class="fa fa-phone" aria-hidden="true"></i>+92-336-205-8645
                              </a>
                           </li>
                           <li> <a href="Javascript:void(0)"> <i class="fa fa-envelope" aria-hidden="true"></i> a.paryani@adeptaiagents.com
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="copyright text_align_left">
               <div class="container">
                  <div class="row d_flex">
                     <div class="col-md-6">
                        <p>© 2025 All Rights Reserved.  <a href="https://adeptaiagents.com/"> Adept AI Agents</a></p>
                     </div>
                     <div class="col-md-6">
                        <ul class="social_icon text_align_center">
                           <li> <a href="https://www.linkedin.com/in/tehmeer-ali-paryani-9505b164/"><i class="fa fa-facebook-f"></i></a></li>
                           <li> <a href="https://www.linkedin.com/in/tehmeer-ali-paryani-9505b164/"><i class="fa fa-twitter"></i></a></li>
                           <li> <a href="https://www.linkedin.com/in/tehmeer-ali-paryani-9505b164/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                           <li> <a href="https://www.linkedin.com/in/tehmeer-ali-paryani-9505b164/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                           <li> <a href="https://www.linkedin.com/in/tehmeer-ali-paryani-9505b164/"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="{% static "js/jquery.min.js" %}"></script>
      <script src="{% static "js/bootstrap.bundle.min.js"  %}"></script>
      <script src="{% static "js/jquery-3.0.0.min.js" %}"></script>
      <script src="{% static "js/custom.js" %}"></script>
      <script src="{% static "js/website.js" %}"></script>
   </body>
</html>
